@import "./responsive.scss";

#root {
  min-width: 320px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.app-title {
  @include mobile {
    font-size: 2.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 2px solid;
  border-color: #646cff;

  @include mobile {
    padding: 0.5rem;
    border: none;
  }
}

.messages {
  min-width: 320px;
  width: 500px;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 400px;
  }

  @include mobile {
    width: 320px;
    max-width: 320px;
    font-size: 0.875rem;
  }
}

.message-input {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.read-the-docs {
  color: #888;
}


.messages {
  --sb-track-color: #1a1a1a;
  --sb-thumb-color: #646cff;
  --sb-size: 2px;
}

.messages::-webkit-scrollbar {
  width: var(--sb-size)
}

.messages::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.messages::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
  .messages {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}